<!-- *pop-up error conexión -->
<div id="pop-error-conexion" class="pop-up-behind">
    <div class="pop-up-white pop-up">
        <header class="header-pop-up">
            <!--<div class="button-close">Cerrar</div>-->
        </header>
        <section class="section-pop-up">
            <span class="font-medium">Algunos registros no seran cargados mientras no haya conexion a internet, pero puedes seguir llenando el reporte del dia</span><br>
            <button class="btn1" ng-click="ok()">Continuar</button>
         </section>
    </div>
</div>