<!-- *pop-up datos incompletos -->
<div id="pop-hour-programmed" class="pop-up-behind">
    <div class="pop-up-white pop-up">
        <header class="header-pop-up">
            <!--<div class="button-close">Cerrar</div>-->
        </header>
        <section class="section-pop-up">
            <img src="assets/img/icons/exclamation-sign.png" class="icons-pop-ups">
            <span class="font-medium">Por favor primero coloca las horas programadas <br> antes de registrar las Horas trabajadas y No trabajadas</span><br>
            <button class="btn1 button-close">Continuar</button>
         </section>
    </div>
</div>