<div id="Register">
    <div scroll-vertical class="size-width-screen scroll-vertical">
        <input type="text" id="name-register" name="name_register" placeholder="Nombre"></input>
        <input type="text" id="Lastname-register" name="Lastname-register" placeholder="Apellido"></input>
        <input type="text" id="nit-register" name="nit-register" placeholder="Cédula"></input><br>
        <input type="tel" id="carg-register" name="cargo-register" placeholder="Cargo"></input><br>
        <button class="btn1">Registrarse</button>
    </div>
</div>