<!-- *pop-up reportar error en la informacion -->
<div id="pop-report-data-db" class="pop-up-behind">
    <div class="pop-up-white pop-up">
        <header class="header-pop-up">
            <div class="button-close">Cerrar</div>
        </header>
        <br>
        <section class="section-pop-up">
            <span class="font-medium">¿Quieres reportar algún error en la información?</span><br>
            <textarea class="font-small" placeholder="Observación"></textarea><br>
            <button class="btn1" ng-click="ok()">Enviar</button>
         </section>
    </div>
</div>