<!-- *pop-up error conexión -->
<div id="pop-hormetro-lessDB" class="pop-up-behind">
    <div class="pop-up-white pop-up">
        <header class="header-pop-up">
            <!--<div class="button-close">Cerrar</div>-->
        </header>
        <section class="section-pop-up">
            <span class="font-medium">El horometro inicial ya se encuentra registrado con esta misma máquina <br>
            El ultimo horometro registrado fue: {{ultimoHorometro}}</span><br>
            <button class="btn1 button-close" ng-click="ok()">Continuar</button>
         </section>
    </div>
</div>