<!-- *pop-up datos no completados -->
<div id="pop-error-data" class="pop-up-behind">
    <div class="pop-up-white pop-up">
        <header class="header-pop-up">
            <!--<div class="button-close">Cerrar</div>-->
        </header>
        <section class="section-pop-up">
            <img src="assets/img/icons/exclamation-sign.png" class="icons-pop-ups">
            <span class="font-medium">Los campos marcados en rojo no pudieron guardarse correctamente. <br>Por favor verifique la información</span><br>
            <button class="btn1" ng-click="ok()">Continuar</button>
         </section>
    </div>
</div>