<!-- *pop-up horas extras trabajadas -->
<div id="pop-hour-minor" class="pop-up-behind">
    <div class="pop-up-white pop-up">
        <header class="header-pop-up">
            <!--<div class="button-close">Cerrar</div>-->
        </header>
        <section class="section-pop-up">
            <img src="assets/img/icons/time.png" class="icons-pop-ups">
            <span class="font-medium">Faltan {{hoursExtras}} horas para completar las horas programadas.</span><br>
            <button class="btn1 button-close" ng-click="ok()">Continuar</button>
         </section>
    </div>
</div>