<!-- *pop-up QR no encontrado -->
<div id="pop-noencotrado-QR" class="pop-up-behind">
    <div class="pop-up-white pop-up">
        <header class="header-pop-up">
            <div class="button-close">Cerrar</div>
        </header>
        <section class="section-pop-up">
            <img src="assets/img/icons/exclamation-sign.png" class="icons-pop-ups">
            <span class="font-medium">Código QR no encontrado o <br> Error en el usuario y contraseña</span><br>
            <button class="btn1 button-close">Intentar nuevamente</button>
            <button class="btn1" ng-click="InLogin()">Ingresar desde el Login</button>
         </section>
    </div>
</div>