<!-- *pop-up error al guardar la informacion. Datos incorrectos -->
<div id="pop-alert-dataError-save" class="pop-up-behind">
    <div class="pop-up-white pop-up">
        <header class="header-pop-up">
            <!--<div class="button-close">Cerrar</div>-->
        </header>
        <br>
        <section class="section-pop-up">
            <span class="font-medium">Los campos marcados en rojo no pudieron guardarse correctamente. Por favor verifica la información ingresada.</span><br>
            <button class="btn1" ng-click="ok()">Enviar</button>
         </section>
    </div>
</div>