<!-- *pop-up cuidado -->
<div id="pop-alert-caution" class="pop-up-behind">
    <div class="pop-up-white pop-up">
        <header class="header-pop-up">
            <!--<div class="button-close">Cerrar</div>-->
        </header>
        <br>
        <section class="section-pop-up">
            <img src="assets/img/icons/minus-sign-inside-a-black-circle.png" class="icons-pop-ups">
            <span class="font-medium">EL FALLO Y EL COMPONENTE<br>NO COINCIDEN</span><br>
            <button class="btn1 button-close" ng-click="ok()">Continuar</button>
         </section>
    </div>
</div>