<!-- *pop-up mensaje cuidado -->
<div id="pop-repeat-fail" class="pop-up-behind">
    <div class="pop-up-white pop-up">
        <header class="header-pop-up">
            <!--<div class="button-close">Cerrar</div>-->
        </header>
        <br>
        <section class="section-pop-up">
            <img src="assets/img/icons/exclamation-sign.png" class="icons-pop-ups">
            <span class="font-medium">Fallo ya reportado</span><br>
            <button class="btn1 button-close">Continuar</button>
         </section>
    </div>
</div>